:root {
    --a: #f0f9f9;
    --b: #deebeb;
    --c: #75dddd;
    --d: #84c7d0;
    --e: #9297c4;
    --f: #9368b7;
    --g: #663a8a;
    --h: #a31907;
    --i: #cc2b16;
    --j: #1f1429;
}

body {
    margin: 0px;
    padding: 0px;
}

#main {
    /*display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;*/
    margin: 0px;
    padding: 0px !important;
}

#content {
    /* flex-grow: 1; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#main {
    flex-grow: 1;
    padding: 20px;
    position: relative;
}

#past {
    width: 20%;
    border-left: 2px solid black;
    padding: 40px;
    list-style-type: none;
    font: 300 1.5rem "Lato";
    line-height: 1.2em;
    overflow-y: scroll;
    margin: 0px;
}

#main>* {
    position: absolute;
}

#definition {
    top: 60px;
    left: 130px;
    width: 55%;
}

#last {
    margin: 0px;
    font: 600 5rem "Poppins";
}

#define {
    font: 1.2rem "Lato";
    border-left: 2px solid var(--b);
    margin-left: 1px;
    padding-left: 25px;
}

#timer {
    top: 20px;
    right: 60px;
    font: 2.5rem "Poppins";
}

#guess {
    width: 20%;
    bottom: 40px;
    right: 80px;
    border: none;
    outline: none;
    font-family: "Lato";
    font-size: 2rem;
    padding: 10px 20px;
    border-bottom: 4px solid var(--b);
    border-radius: 6px 6px 3px 3px;
    display: none;
}

#guess:focus {
    background-color: var(--a);
}

#guess.visible {
    display: block;
}

.invalid {
    animation: error ease 0.4s;
}

@keyframes error {
    0% {
        color: var(--h);
    }
    60% {
        transform: scale(110%);
        color: var(--i);
    }
    90% {
        transform: scale(100%);
        color: var(--h);
    }
    100% {
        color: auto;
    }
}

#notify {
    position: absolute;
    top: 0px;
    right: 40px;
    padding: 10px 30px;
    border-radius: 0px 0px 10px 10px;
    font: 1rem "Poppins";
    background-color: var(--e);
    color: white;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}

#notify.visible {
    transform: translateY(0%);
}